.p1,.p2{
    margin: 10px;
    width: 170px;
    border: 1px solid gray ;
}
.content1>button{
    display: flex;
    padding: 10px;
    width: auto;
    background-color: white;
    gap: 3%;
    width: 150px;
    margin: 5%;
    border:0px;
    
}
.content2>button{
    display: flex;
    padding: 10px;
    width: auto;
    background-color: white;
    gap: 3%;
    width: 150px;
    margin: 5%;
    border:0px;
}
