@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}



.navMain {
    display: flex;
    box-shadow: 2.5px 2.5px 2.5px rgb(211, 211, 211);
    background-color: white;
  }
  
  .navMain > img {
    margin-left: 35px;
  }
  
  .process {
    margin-left: 117px;
    display: flex;
    align-items: center;
  }
  
  .hrLine {
    border-top: 1px solid black;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: white;
    width: 10vw;
    margin-left: 4%;
    margin-right: 4%;
  }
  
  .process p {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    color: rgb(77, 74, 74);
  }
  
  .process > img {
    margin-right: 2.5px;
  }

  .background{
    background-color: rgb(248, 248, 248);
    height: 100vh;
  }