@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.background {
  background-color: rgb(248, 248, 248);
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.navMain {
  display: flex;
  box-shadow: 2.5px 2.5px 2.5px rgb(211, 211, 211);
  background-color: white;
}

.navMain > img {
  margin-left: 35px;
  cursor: pointer;
}

.process {
  margin-left: 117px;
  display: flex;
  align-items: center;
}

.hrLine {
  border-top: 1px solid black;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  background-color: white;
  width: 10vw;
  margin-left: 4%;
  margin-right: 4%;
}

.process p {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  color: rgb(77, 74, 74);
}

.process > img {
  margin-right: 2.5px;
}

.divider {
  padding-top: 8vh;
  display: grid;
  grid-template-columns: 2.2fr 1.12fr;
  gap: 35px;
}

.leftsection {
  margin-left: 5.2%;
  position: relative;
  /* background-color: white; */
}

.rightsection {
  margin-right: 14%;
}

.cartTop {
  box-shadow: 0.4px -1px 3px 2px rgb(228, 228, 228);
  display: flex;
  padding: 20px 0px 20px 0px;
  border-radius: 3px;
  background-color: white;
}

.cartTop > :nth-child(1) {
  font-size: 1.2rem;
  font-weight: 500;
  padding-left: 25px;
}

.wishlistbtn {
  position: absolute;
  right: 25px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(32, 82, 105);
  cursor: pointer;
}

.wishlistbtn > h3 {
  font-size: 1rem;
  font-weight: 500;
}

.pincodeBox {
  background-color: white;
  box-shadow: 1px 1px 2px 2px rgb(224, 223, 223);
  border-radius: 3px;
}

.pincodeDiv {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 24px 0px 24px 0px;
}

.pincodeDiv img {
  position: absolute;
  left: 14px;
  z-index: 1;
}

.pincodeDiv input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  /* padding: 5px 0px 5px 20px;
  margin-right: 35px; */
  width: 75%;
  padding: 2px 0px 4px 20px;
  position: absolute;
  left: 14px;
  top: 15px;
}

.pincodeDiv input:focus {
  outline-width: 0;
}

.pincodeDiv button {
  position: absolute;
  right: 12px;
  background-color: rgb(0, 183, 186);
  border: none;
  color: white;
  padding: 6px 9px 6px 9px;
  border-radius: 4px;
  cursor: pointer;
}

.pincodeShow {
  display: flex;
  position: relative;
  align-items: center;
  padding: 14px 0px 14px 10px;
}

.pincodeShow p {
  margin-left: 5px;
  font-size: 13px;
}

.pincodeShow button {
  border: none;
  background-color: transparent;
  font-weight: 500;
  color: rgb(0, 183, 186);
  cursor: pointer;
  position: absolute;
  right: 25px;
}

.discountBox {
  background-color: white;
  box-shadow: 1px 1px 2px 2px rgb(224, 223, 223);
  border-radius: 5px;
  margin-top: 20px;
}

.disocountDiv {
  display: flex;
  align-items: center;
  position: relative;
  padding: 12px 0px 12px 15px;
  cursor: pointer;
}

.disocountDiv p {
  font-size: 17px;
  font-weight: 500;
  margin-left: 8px;
}

.discountarrow {
  position: absolute;
  right: 18px;
}

.proceedbtndiv {
  text-align: center;
  background-color: rgb(223, 70, 34);
  padding: 17px 0px 17px 0px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.proceedbtndiv button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.ordersumbox {
  background-color: white;
  margin-top: 20px;
  box-shadow: 1px 1px 2px 2px rgb(224, 223, 223);
  border-radius: 5px;
}

.ordersumdiv {
  background-color: rgb(241, 255, 255);
  font-size: 15px;
  font-weight: 500;
  padding: 15px 10px 15px 18px;
}

.orderinnerdiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.leftOrderdet {
  text-align: left;
  padding-left: 18px;
  color: rgb(85, 83, 83);
  font-size: 14.5px;
}

.leftOrderdet > p {
  padding: 10px 10px 10px 0px;
}

.rightOrderdet {
  font-size: 14.5px;
  text-align: right;
  padding-right: 18px;
  font-weight: 500;
}

.rightOrderdet p {
  padding: 10px 0px 10px 10px;
}

.discountRed {
  color: rgb(243, 49, 49);
}

.finalPayable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 7px;
  margin-top: 7px;
}

.finalPayable :nth-child(1) {
  text-align: left;
  padding: 10px 10px 10px 18px;
  font-weight: 500;
}

.finalPayable :nth-child(2) {
  text-align: right;
  padding: 10px 18px 10px 10px;
  font-weight: 500;
}

.hrforsummary {
  background-color: rgb(228, 215, 215);
  height: 1px;
  border: none;
}

.savetitle {
  color: rgb(45, 183, 88);
  padding-left: 18px;
  font-size: 12px;
  padding-bottom: 8px;
}

.copyright {
  text-align: center;
  color: grey;
  font-size: 12px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.countinueShop {
  font-size: 15px;
  color: rgb(0, 0, 136);
  padding: 25px 10px 10px 10px;
}

.savetitle {
  padding-bottom: 20px;
}

.nocartBox {
  height: 100vh;
}

.noproductDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.noproductinner {
  margin-left: 3%;
}

.noproductinner p {
  font-size: 20px;
  margin-bottom: 4%;
}

.noproductinner h1 {
  font-size: 30px;
  margin-bottom: 4%;
}

.noproductinner button {
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(223, 70, 34);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  padding: 7px 65px 7px 65px;
  margin-top: 5%;
}

/* css for lower screen (lower then 750 px devices) */

.navfirstLine {
  display: flex;
  position: relative;
}

.cartleftNav {
  position: absolute;
  left: 15px;
  top: 15px;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

.cartrightNav {
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.navforsmaller{
  display: none;
}

.buttomPaynow{
  display: none;
}

.pincodeBoxsmall{
  display: none;
}

.discountBoxsmall{
  display: none;
}

.disountpagedivsec{
  display: none;
}

.backgroundBlu{
  background-color: rgb(255, 255, 255);
  filter: brightness(35%);
  font-family: "Roboto", sans-serif;

}

.discountpagediv{
  z-index: 5;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 35vw;
  height: 100%;
  background-color: white;
  display: block;
}

.applycoupon {
  position:relative;
  left: 50%;
  transform: translate(-50%);
  padding: 50px;
  padding-bottom: 55px;
  box-shadow: 2px 2px 2px 1px rgb(206, 205, 205);
}

.canceldiscount{
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.applycoupon p {
  padding-bottom: 15px;
  font-size: 17px;
  font-weight: 600;
}


.applycoupon > div {
  display: flex;
}

.applycoupon > div input{
  border: 1px solid rgb(16,132,126) ;
  padding: 10px;
  width: 260px;
  border-radius: 5px 0px 0px 5px;
  outline: none;
}

.applycoupon > div button{
  border: none;
  background-color: rgb(16,132,126);
  color: white;
  border-radius: 0px 5px 5px 0px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 35px 10px 35px;
}

.firstdicountpro{
  display: flex;
}

.firstdicountpro img {
  border: 1px solid rgb(214, 211, 211);
  padding: 3px;
  border-radius: 4px;
}

.specialdiscount{
  font-weight: 500;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.detailsofproduct{
margin-left: 10px;
}

.detailsofproduct :nth-child(1){
  font-weight: 500;
  font-size: 12.5px;
}


.detailsofproduct :nth-child(2){
  font-size: 12.5px;
  color: rgb(54, 54, 54);
}

.addcartbtndis{
  margin-top: 15px;
  border: 1px solid rgb(16,132,126);
  border-radius: 3px;
  background-color: transparent;
  color: rgb(16,132,126);
  font-weight: 500;
  padding: 6px 12px 6px 12px;
  cursor: pointer;
}

.mainmiddleoffers{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 14px;
}

.firstofferdis{
  width: 85%;
  border-radius: 5px;
  box-shadow: 1.2px 1.2px 5px 1px rgb(224, 221, 221);
  padding: 15px;
}

@media screen and (max-width: 750px) {

  .maxScreenNav{
    display: none;
  }

  .navforsmaller{
    display: block;
    box-shadow: 2.5px 2.5px 2.5px rgb(211, 211, 211);
    height: 100px;
  }

  .mobileprocess{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 60px;
  }

  .mobileprocess img{
    margin-right : 5px;
    height: 18px;
  }

  .mobileprocess p{
   font-size: 13px;
   color: rgb(83, 82, 82);
  }

  .hrLine{
    width: 80px;
    background-color: rgb(59, 59, 59);
  }

  .background {
    background-color: white;
  }

  .pincodeBox {
    display: none;
  }
  .discountBox {
    display: none;
  }

  .proceedbtndiv {
    display: none;
  }
  .countinueShop {
    display: none;
  }

  .cartTop {
    display: none;
  }

  .leftsection {
    margin-left: 0;
  }

  .rightsection {
    margin-right: 0;
  }

  .divider {
    padding-top: 0;
    display: grid;
    gap: 0;
    grid-template-columns: auto;
  }

  .ordersumbox {
    background-color: white;
    margin-top: 5px;
    box-shadow: 1px 1px 2px 2px rgb(230, 228, 228);
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .buttomPaynow{
    position: fixed;
    height: 65px;
    width: 100%;
    background: white;
    bottom: 0px;
    left: 1px;
    box-shadow: 1px 1px 2px 6px rgb(230, 228, 228);
    display: block;
  }

.viewsum{
  position: fixed;
  left: 15px;
  bottom: 8px;
}

.viewsum p{
  font-size: 20px;
  font-weight: 500;
}

.viewsum a{
  font-size: 13px;
  text-decoration: none;
  color: rgb(16,132,126);
  font-weight: 500;

}


.proceedpaybotm{
  position: fixed;
  right: 10px;
  bottom: 7px;
  background-color: rgb(223,70,34);
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  padding: 17px 50px 17px 50px;
}

.copyright{
  margin-bottom: 100px;
}


.pincodeBoxsmall {
  /* position: relative; */
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  box-shadow: 1px 1px 2px 2px rgb(230, 228, 228);
  border-radius: 3px;
}

.finalpayblesmall{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: 500;
  font-size: 17px;
  color: rgb(46, 46, 46);
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 0.5px solid rgb(228, 225, 225);
}

.finalpayblesmall :nth-child(1){
  text-align: left;
  padding-left: 15px;
}
.finalpayblesmall :nth-child(2){
  text-align: right;
  padding-right: 15px;
}




.pincodeDivsmall {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 24px 0px 24px 0px;
}

.pincodeDivsmall img {
  position: absolute;
  left: 14px;
  z-index: 1;
}

.pincodeDivsmall input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  /* padding: 5px 0px 5px 20px;
  margin-right: 35px; */
  width: 75%;
  padding: 2px 0px 4px 20px;
  position: absolute;
  left: 14px;
  top: 15px;
}

.pincodeDivsmall input:focus {
  outline-width: 0;
}

.pincodeDivsmall button {
  position: absolute;
  right: 12px;
  background-color: rgb(0, 183, 186);
  border: none;
  color: white;
  padding: 6px 9px 6px 9px;
  border-radius: 4px;
  cursor: pointer;
}

.pincodeShowsmall {
  display: flex;
  position: relative;
  align-items: center;
  padding: 14px 0px 14px 10px;
}

.pincodeShowsmall p {
  margin-left: 5px;
  font-size: 13px;
}

.pincodeShowsmall button {
  border: none;
  background-color: transparent;
  font-weight: 500;
  color: rgb(0, 183, 186);
  cursor: pointer;
  position: absolute;
  right: 25px;
}


.discountBoxsmall {
  display: block;
  background-color: white;
  box-shadow: 1px 1px 2px 2px rgb(224, 223, 223);
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.disocountDivsmall {
  display: flex;
  align-items: center;
  position: relative;
  padding: 12px 0px 12px 15px;
  cursor: pointer;
}

.disocountDivsmall p {
  font-size: 17px;
  font-weight: 500;
  margin-left: 8px;
}

.discountarrowsmall {
  position: absolute;
  right: 18px;
}


.discountpagediv{
  z-index: 5;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100vw;
  height: 100%;
  background-color: white;
  display: block;
}

}
