@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mobileView{
  display: none;
}

.navContainer{
  background-color: white;
}

.navtopsection{
  font-family: "Roboto", sans-serif;
  display: flex;
  border-bottom: 1px solid rgb(202, 202, 202);
  align-items: center;
  padding: 13px;
  padding-left: 40px;
}

.navtopsection + img {
cursor: pointer;
}


.searchDiv{
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.searchDiv > img{
  position: absolute;
  z-index: 1;
  left: 5px;
}

.searchDiv input {
  position: absolute;
  width: 34vw;
  padding: 9px 10px 9px 35px;
  color: grey;
  border-radius: 3px;
  border: 1px solid gray;
  background-color: rgb(247, 247, 247);
  outline: none;
}

.rightNavdiv{
  display: flex;
  /* align-items: center; */
  position: absolute;
  right: 10px;
}

.rightNavdiv > p, .rightNavdiv div {
  display: flex;
  margin-right: 12px;
  font-size: 13px;
  color: rgb(24, 24, 24);
  align-items: center;

}

.arrownav{
  margin-left: 3px;
  margin-top: 2px;
}

.cartdiv{
  position: relative;
  cursor: pointer;
}

.rightNavdiv hr{
  height: 10px;
  background-color: rgb(109, 109, 109);
  margin-right: 10px;
}

.cartdiv h5{
  background-color: rgb(255,119,0);
  color: white;
  font-size: 10px;
  font-weight: 500;
  padding: 2.7px 6px 2.7px 6px;
  border-radius: 20px;
  position: absolute;
  right: 2px;
  bottom: 1px;
}

.rightNavdiv p:hover {
  color: rgb(16,132,126);
  cursor: pointer;
}


@media screen and (min-width: 420px) and (max-width:750px){
  .navtopsection{
    display: none;
  }
  .mobileView{
    display: block;
  }
}
@media screen and (max-width:420px){
  .navtopsection{
    display: none;
  }
  .mobileView{
    display: block;
  }
}