
.swiperImg{
    height: 306px;
    max-width: 100%
}

.flashSalePage{
    height: 473px;
    max-width: 90%;
    margin: 50px auto;
    box-shadow: 0 2px 3px rgb(0 0 0 / 16%);
}
.tag{
    padding: 15px 40px;
    max-height: 60px;
    background: white;
    display: flex;
    justify-content: space-between;
}
.tagName{
    display: flex;
    width: 130px;
}
.viewAllBtn{
    border: none;
    border-radius: 4px;
    padding: 5px 15px;
    background: #00AFAE;
    color: white
}
.tagImg{
    margin-right: 10px;
}